@page
@using EuropePMC
@using System.Globalization
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<form method="post" asp-page-handler="SearchPublication">
    <div class="row">
        <div class="col-11">
            <input type="search" class="search form-control" placeholder="Search here..." name="search" />
        </div>
        <div class="col-1" style="text-align: right">
            <button class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</form>

<hr />

@if (@Model.TotalCount > 0)
{
    <div style="display: flex; justify-content: space-between; align-items: baseline">
        <div>
            <p>found <b>@Model.TotalCount.ToString("#,#", CultureInfo.InvariantCulture)</b> publications </p>
        </div>
        <div>
            @if (@Model.Collection.Count >= 25)
            {
                <form method="post" asp-page-handler="NextPage">
                    <button class="btn btn-primary">Next Page</button>
                </form>
            }
        </div>
    </div>


    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author(s)
                </th>
                <th>
                    Publication Date
                </th>
                <th>
                    #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collection)
            {
                <tr>
                    <td>@item.title</td>
                    <td>@item.authorString</td>
                    <td>@Convert.ToDateTime(item.firstPublicationDate).ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</td>
                    <td><a href="http://europepmc.org/article/@item.source/@item.pmid" target="_blank">open</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center p-2" style="border: solid black 1px; border-radius: 10px">
        <h4>There are no publications matching your query.</h4>
    </div>
}


